# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [8]:
np.random.seed(1234)
rng = np.random.randint(1000000,1300000000,size = 10)
pop = pd.Series(rng)
pop

0     823569775
1     525453158
2     482516916
3    1226605784
4    1166481977
5    1203486927
6    1171776343
7     647980841
8    1188404954
9     853631582
dtype: int32

In [9]:
country = ['Taiwan','USA','Japan','Korea','France','UK','Swiss','Australia','Germany','Spain']
cty = pd.Series(country)
cty

0       Taiwan
1          USA
2        Japan
3        Korea
4       France
5           UK
6        Swiss
7    Australia
8      Germany
9        Spain
dtype: object

In [5]:
df = pd.concat([cty,pop],axis = 1)
df.columns = ['國家','人口']
df

          國家          人口
0     Taiwan   823569775
1        USA   525453158
2      Japan   482516916
3      Korea  1226605784
4     France  1166481977
5         UK  1203486927
6      Swiss  1171776343
7  Australia   647980841
8    Germany  1188404954
9      Spain   853631582

In [6]:
data = {'國家':country,
        '人口':rng
        }
data

{'國家': ['Taiwan',
  'USA',
  'Japan',
  'Korea',
  'France',
  'UK',
  'Swiss',
  'Australia',
  'Germany',
  'Spain'],
 '人口': array([ 823569775,  525453158,  482516916, 1226605784, 1166481977,
        1203486927, 1171776343,  647980841, 1188404954,  853631582])}

In [7]:
data = pd.DataFrame(data)
data

          國家          人口
0     Taiwan   823569775
1        USA   525453158
2      Japan   482516916
3      Korea  1226605784
4     France  1166481977
5         UK  1203486927
6      Swiss  1171776343
7  Australia   647980841
8    Germany  1188404954
9      Spain   853631582

## 讀取 txt 檔
* 請讀取 [text file](https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt)
* 懶人複製連結: https://raw.githubusercontent.com/vashineyu/slides_and_others/master/tutorial/examples/imagenet_urls_examples.txt

### Hints: 使用 [Request](https://blog.gtwang.org/programming/python-requests-module-tutorial/) 抓取資料
### Hints: [字串分割](http://www.runoob.com/python/att-string-split.html)
### Hints: 例外處理: [Try-Except](https://pydoing.blogspot.com/2011/01/python-try.html)

# [作業目標]
- 試著讀取網頁上的圖片連結清單, 再以清單中網址讀取圖片

# [作業重點]
- 從網頁上讀取連結清單 (In[1], In[2])
- 從清單網址讀取圖片 (In[6]~In[9], Out[6]~Out[9])

In [ ]:
## 假如我們不想把資料載到自己的電腦裡?
# 把連結填入
target_url =

In [ ]:
import requests
response = requests.get(target_url)
data = response.text

# 用 request 傳送回來的資料不會認得斷行符號
print(len(data))
data[0:100]

In [ ]:
# 找到換行符號，用該符號做字串分割後，把它拿掉
split_tag = 

data = data.split(split_tag)
print(len(data))
data[0]

## 將 txt 轉成 pandas dataframe

In [ ]:
import pandas as pd

    
df = pd.DataFrame(arrange_data)
df.head()

## 讀取圖片，請讀取上面 data frame 中的前 5 張圖片

In [ ]:
from PIL import Image
from io import BytesIO
import numpy as np
import matplotlib.pyplot as plt

# 請用 df.loc[...] 得到第一筆資料的連結
first_link = 

response = requests.get(first_link)
img = Image.open(BytesIO(response.content))

# Convert img to numpy array

plt.imshow(img)
plt.show()

In [ ]:
def img2arr_fromURLs(url_list, resize = False):
    """
    請完成這個 Function
    Args
        - url_list: list of URLs
        - resize: bool
    Return
        - list of array
    """
    
    return img_list

In [ ]:
result = img2arr_fromURLs(df[0:5][1].values)
print("Total images that we got: %i " % len(result)) # 如果不等於 5, 代表有些連結失效囉

for im_get in result:
    plt.imshow(im_get)
    plt.show()